extends ../layout/plantilla  


block contenido


    h2.py-2.text-center.text-2xl.font-bold.text-white.bg-sky-500(class= "shadow-lg shadow-blue-500/50")= pagina
    if errores 
        div(class="max-w-md mx-auto my-10")
            each error in errores
                p(class= "bg-red-600 text-white uppercase text-xs text-center p-2 mb-1 font-bold")= error.msg
    div.mt-8.mx-auto.max-w-full
        .bg-white.py-8.px-10.shadow
               
                div(class="grid gap-6 mb-3 md:grid-cols-2")
                    div(class= "inline-flex flex flex-row shadow-lg shadow-blue-500/50")
                        <button class="w-full text-white font-semibold py-10 shadow-md cursor-pointer rounded-sm bg-sky-500 hover:bg-sky-700 focus:outline-2 focus:outline-offset-2 focus:outline-sky-500 active:bg-sky-700" onclick="window.location.href='/main/enviodebitos'" >ENVIOS</button>      
                                                        
                    div(class= "inline-flex flex flex-row shadow-lg shadow-blue-500/50")
                        <button class="w-full text-white font-semibold py-10 shadow-md cursor-pointer rounded-sm bg-sky-500 hover:bg-sky-700 focus:outline-2 focus:outline-offset-2 focus:outline-sky-500 active:bg-sky-700" onclick="window.location.href=''">RECEPCIONES </button>
                                













