doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title IPV CATAMARCA | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-50
        main(class ="mx-auto container mt-6 px-2")
            
            div(class ="py-2 text-center border-b-2 shadow-lg shadow-gray-500/50")
                <div class="inline-flex items-center">
                    <img class="mb-2" src="../img/logo2.png" alt="" width="200">
                div.pl-6     
                    h3(class= "text-2xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-600 italic") Sistema Gestion de Debitos
                    span Instituto Provincial de la Vivivienda

        br
        br
        div(class="md:max-xl:flex")
            block contenido
        
        footer(class = "sticky top-[100vh] border-t-2 py-2") 
            p.text-xs.text-center.pt-2(class="text-black-600/50 dark:text-black-400/25") Sistema en Desarrollo : © Dpto Computacion de Datos - Instituto Provincial de la Vivienda - Abril 2025  
                    